.container{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
 .container .header{
    background-color: red;
    width: 1200px;
    height: 200px;

 }
 .con1{
    background-color: thistle;
    width: 400px;
    height: 200px;
    float: left;
 }

 
 .container .con2{
    background-color: rgb(183, 113, 21);
    width: 400px;
    height: 200px;
    float: left;
 }
 
 .container  .con3{
    background-color: rgb(45, 32, 107);
    width: 400px;
    height: 200px;
    float: left;
 }
 
 .container  .con4{
    background-color: rgb(116, 17, 65);
    width: 800px;
    height: 200px;
    float: left;
 }
 .container  .con5{
    background-color: rgb(142, 31, 31);
    width: 400px;
    height: 200px;
    float: left;
 }


